body{
    margin: 0px;
    padding: 0px;
   
}

*{ font-family: Helvetica, Arial, sans-serif;}

.listaIdiomas{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.listaConfiguraciones{
    list-style-type: none;
    margin: 0;
    padding: 0;
     
}

.listaIdiomas li{
    display: inline-block;
    height: 1.5em;
    padding-right: 10px;

}
.listaConfiguraciones li{
    display: inline-block;
    margin: 0;
    height: 1.5em;
    padding-right: 18px;
}
hr{
    margin-top: 0.7em; 
    margin-bottom: 0.9em; 
    padding: 0;
}

#cuerpo {background-color: #f1f2f5;height: 720px; width: 100% ;}
#imagen {margin-top: 185.50px; margin-left: 16.5em; font-size: 28px; margin-right: 0; width: 18em; }
.letras{ margin-bottom: 14px; padding: 0;}

#login {
    background-color: rgb(255, 255, 255) ;
    float: right; 
    width: 24.8em; 
    height: 21.8em; 
    margin-right: 30em; 
    margin-top: 8.3em; 
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
    border-radius: 8px;
    text-align: center;
}
#introducir{
    margin: 1em;
    height: 3em;


}
.correo {
    width: 27em;
    height: 3.5em;
    border-radius: 8px;
    border: 1px solid #d1d3da;


}
.contra {
    width: 27em;
    height: 3.5em;
    border-radius: 8px;
    border: 1px solid #d1d3da;
}
.entrar {
    width: 27.5em;
    height: 50px;
    background: #1877f2;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;


    
}
.entrar:hover {
    width: 27.5em;
    height: 50px;
    background: #166bdb;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    cursor:pointer; 
    
}

.entrar:active {
    width: 27.5em;
    height: 50px;
    background: #1251a3;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    
}

#crear {
    margin-top: 1.25em;
}
.crear {
    width: 16em;
    height: 50px;
    background: #42b72a;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    font-size: 11.5px;
    
}
.crear:hover {
    width: 16em;
    height: 50px;
    background: #379624;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;     
    cursor:pointer; 
}

.crear:active {
    width: 16em;
    height: 50px;
    background: #2e7c1e;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;      
}

#barra{
    margin: 1.5em;
}

a{
    font-size: 14px;
    margin-top: 1em;
}
#famoso{
    margin-top: 10em;
    margin-left: 75em;
    font-size: 14px;
}
#famoso a{
    font-size: 14px;
    
}


#pie {margin-top: 30px; background-color: #ffffff ; font-size: 12px; color: #8a8d91; margin-left: 38.5em; margin-right: 39.8em; }
